<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="assets/css/about.css" />
  <title>ERUDITE EDUCARE LLC</title>
  {{>headerLinks}}
</head>

<!-- Developed by Shashi Bhushan Kumar -->

<body>
  <!-- preloader area start -->
  <div class="preloader" id="preloader">
    <div class="preloader-inner">
      <div class="loader"></div>
    </div>
  </div>
  <!-- preloader area end -->

  <!--  search Popup start -->
  <div class="body-overlay" id="body-overlay"></div>
  <div class="search-popup" id="search-popup">
    <form action="" class="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search....." />
      </div>
      <button class="close-btn border-none">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <!-- Search Popup End -->

  <main class="page-wrapper">
    {{>navbar}}

    <!-- about page start here  -->
    <div class="about-page-area-wrapper single-page-section-top-space single-page-section-bottom-space">
      <!-- about area start here  -->
      <section class="about-section-area section-bottom-space">
        <div class="container custom-container-01">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="about-content">
                <h3 class="content-title">About us</h3>
                <p class="paragraph">
                  <b>Edudite Educare LLC</b> is a globally recognized education consultancy, committed to helping
                  students gain admission to top universities across the world. Our mission is to simplify the journey
                  towards a brighter academic future, offering expert guidance to students aspiring for success in
                  various professional fields.
                </p>
                <p class="paragraph">
                  Whether you aim to become a doctor (MBBS, BDS), healthcare professional, pharmacist, healthcare
                  administrator, or pursue careers in<b> BBA, MBA, Pharmacy, Engineering, Agriculture</b>, and many
                  other fields, <b>Erudite Admission Consultancy</b> is here to guide you every step of the way.
                  <br>
                  We provide personalized career guidance and expert assistance in securing admissions to top-tier
                  universities in India and abroad. With over <b>7,000+ successful students</b> placed in prestigious
                  institutions worldwide, our focus is to ensure that your life-changing decisions are made in the right
                  direction, paving the way for a fulfilling and successful career.
                  <br>
                  <b>21+</b> Years Experience <b> 6950</b> VISA Approved <b>100 %</b> Admission success <b>5000+
                    Students
                    95% MCI Passing Rate 90 % placement in job</b>

                </p>

                <div class="icon-box-with-text-wrap">
                  <ul class="ul icon-box-with-text style-01">
                    <li class="single-icon-box-with-text">
                      <div class="icon-wrap color-01">
                        <img src="assets/img/icon/icon-and-text/key.svg" alt="" />
                      </div>
                      <div class="content">
                        <p class="text">
                          Join our Alumni Network – Get lifetime free access with a one-time payment when you take
                          admission through us in any course. It's easy and simple!
                        </p>
                      </div>
                    </li>
                    <li class="single-icon-box-with-text style-02">
                      <div class="icon-wrap color-02">
                        <img src="assets/img/icon/icon-and-text/board.svg" alt="" />
                      </div>
                      <div class="content">
                        <p class="text">
                          Learn from highly experienced and qualified educators who bring years of teaching expertise
                          and real-world knowledge to every session
                        </p>
                      </div>
                    </li>
                    <li class="single-icon-box-with-text style-03">
                      <div class="icon-wrap color-03">
                        <img src="assets/img/icon/icon-and-text/monitor.svg" alt="" />
                      </div>
                      <div class="content">
                        <p class="text">
                          We present worldclass courses with practical
                          learning tasks that make students more confident.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="btn-wrap">
                  <a href="/contact-us" class="btn-common btn-new">Get Free Consultation</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="thumbnail">
                <div class="right-frame">
                  <img src="assets/img/about/01.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about area end here  -->

      <!-- our team area start here  -->
      <section class="our-team-area-wrapper section-top-space">
        <div class="our-team-inner">
          <div class="container custom-container-01">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="section-title-wrapper text-center">
                  <h5 class="subtitle">START EXPLORING COUNTRIES</h5>
                  <h4 class="section-title">Meet Experts</h4>
                  <p class="description">
                    87% of people learning for professional development report
                    career benefits
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="slick-main slick-main global-slick-init dots-style-03 dots-space" data-infinite="true"
                  data-arrows="true" data-fade="false" data-speed="500" data-slidesToShow="3" data-slidesToScroll="1"
                  data-swipeToSlide="true" data-autoplay="true" data-autoplaySpeed="2500" data-dots="true"
                  data-responsive='[
                                                    {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                                    {"breakpoint": 992,"settings": {"slidesToShow": 2}},
                                                    {"breakpoint": 600, "settings": {"slidesToShow": 1}}
                                                    ]'>
                  <div class="slick-item">
                    <div class="single-team-item style-01">
                      <div class="thumbnail">
                        <img src="assets/img/team/style-01/01.jpg" alt="team image" />

                        <ul class="ul social-media-list style-01">
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-instagram icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-youtube icon"></i>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="content">
                        <h4 class="title">
                          <a href="#">Cody Fisher</a>
                        </h4>
                        <p class="designation">Senior Consultants, Eduplan</p>
                      </div>
                    </div>
                  </div>

                  <div class="slick-item">
                    <div class="single-team-item style-01">
                      <div class="thumbnail">
                        <img src="assets/img/team/style-01/02.jpg" alt="team image" />

                        <ul class="ul social-media-list style-01">
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-instagram icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-youtube icon"></i>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="content">
                        <h4 class="title">
                          <a href="#">Brooklyn Simmons</a>
                        </h4>
                        <p class="designation">Consultants, Eduplan</p>
                      </div>
                    </div>
                  </div>

                  <div class="slick-item">
                    <div class="single-team-item style-01">
                      <div class="thumbnail">
                        <img src="assets/img/team/style-01/03.jpg" alt="team image" />

                        <ul class="ul social-media-list style-01">
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-instagram icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-youtube icon"></i>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="content">
                        <h4 class="title">
                          <a href="#">Jenny Wilson</a>
                        </h4>
                        <p class="designation">Senior Consultants, Eduplan</p>
                      </div>
                    </div>
                  </div>

                  <div class="slick-item">
                    <div class="single-team-item style-01">
                      <div class="thumbnail">
                        <img src="assets/img/team/style-01/03.jpg" alt="team image" />

                        <ul class="ul social-media-list style-01">
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-instagram icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li class="single-social-item">
                            <a href="#">
                              <i class="fa-brands fa-youtube icon"></i>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="content">
                        <h4 class="title">
                          <a href="#">Jenny Wilson</a>
                        </h4>
                        <p class="designation">Senior Consultants, Eduplan</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- our team area end here  -->

      <!-- counter area start here -->
      <section class="counter-area-wrapper">
        <div class="counter-section-area">
          <div class="container custom-container-01">
            <div class="row">
              <div class="col-lg-12">
                <div class="counter-section-inner style-01">
                  <div class="single-counterup">
                    <div class="image-wrap">
                      <img src="assets/img/sections/client/people-group.png" alt="" />
                    </div>
                    <div class="content-wrap">
                      <div class="odo-area">
                        <h3 class="odometer odo-title" data-odometer-final="458712">
                          0
                        </h3>
                      </div>
                      <div class="content">
                        <h6 class="subtitle">More then students</h6>
                      </div>
                    </div>
                  </div>
                  <div class="single-counterup">
                    <div class="image-wrap">
                      <img src="assets/img/sections/client/customer-care.png" alt="" />
                    </div>
                    <div class="content-wrap">
                      <div class="odo-area">
                        <h3 class="odometer odo-title" data-odometer-final="211">
                          0
                        </h3>
                      </div>
                      <div class="content">
                        <h6 class="subtitle">Total consultants</h6>
                      </div>
                    </div>
                  </div>
                  <div class="single-counterup">
                    <div class="image-wrap">
                      <img src="assets/img/sections/client/graduation.png" alt="" />
                    </div>
                    <div class="content-wrap">
                      <div class="odo-area">
                        <h3 class="odometer odo-title" data-odometer-final="425">
                          0
                        </h3>
                      </div>
                      <div class="content">
                        <h6 class="subtitle">Total courses</h6>
                      </div>
                    </div>
                  </div>
                  <div class="single-counterup">
                    <div class="image-wrap">
                      <img src="assets/img/sections/client/world.png" alt="" />
                    </div>
                    <div class="content-wrap">
                      <div class="odo-area">
                        <h3 class="odometer odo-title" data-odometer-final="32">
                          0
                        </h3>
                      </div>
                      <div class="content">
                        <h6 class="subtitle">Countries</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- counter area end here -->

      <!-- chose us area start here  -->
      <section class="chose-area-wrapper section-bottom-space">
        <div class="chose-area-inner bg-color-01">
          <div class="container custom-container-01">
            <div class="row d-flex align-items-stretch">
              <!-- LEFT SIDE -->
              <div class="col-lg-6 d-flex">
                <div class="content-wrap my-auto">
                  <div class="section-title-wrapper">
                    <h4 class="section-title">Why choose Erudite Educare?</h4>
                    <p class="description color-02">
                      At <b>Erudite Educare</b>, we provide you with every reason to trust us as your reliable partner
                      for MBBS abroad admissions and a wide range of other academic programs (BBA, MBA, BDS, Computer
                      Science, IT, Pharmacy, etc.). Our goal is to ensure a seamless and successful admission process,
                      guiding students toward their dream careers with expert support at every step.
                    </p>
                  </div>

                  <!-- BULLET POINTS -->
                  <div class="key-points mt-4">
                    <ul>
                      <li><b>Personalized Guidance:</b> Tailored advice to meet your unique career goals and academic
                        aspirations.</li>
                      <li><b>Global Partnerships:</b> Access to over 1000+ renowned universities and institutions
                        worldwide.</li>
                      <li><b>Expert Visa & Document Assistance:</b> We take care of all paperwork, ensuring a smooth and
                        hassle-free process.</li>
                      <li><b>Indian & International Student Support:</b> Expertise in supporting students from both
                        local and international backgrounds for a seamless transition.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- RIGHT SIDE -->
              <div class="col-lg-6 d-flex">
                <div class="icon-box-with-text-wrap my-auto">
                  <ul class="ul icon-box-with-text style-02">
                    <li class="single-icon-box-with-text">
                      <div class="icon-wrap">
                        <img src="assets/img/icon/icon-and-text/02/01.png" alt="Vision Icon" />
                      </div>
                      <div class="content">
                        <h4 class="title">Our Vision</h4>
                        <p class="paragraph">
                          Our mission at Erudite Educare is to provide students with expert guidance and support in
                          pursuing their academic goals by connecting them to top universities worldwide. We aim to
                          simplify the admissions process and empower students to achieve their dreams of becoming
                          globally competitive professionals, especially in fields like MBBS, engineering, pharmacy, and
                          more.
                        </p>
                      </div>
                    </li>
                    <li class="single-icon-box-with-text">
                      <div class="icon-wrap">
                        <img src="assets/img/icon/icon-and-text/02/02.png" alt="Mission Icon" />
                      </div>
                      <div class="content">
                        <h4 class="title">Our Mission</h4>
                        <p class="paragraph">
                          To be a globally recognized leader in education consultancy, helping students from India and
                          across the world access high-quality education opportunities at prestigious institutions. We
                          envision a future where every student can achieve their career aspirations through guidance,
                          mentorship, and seamless access to international education.
                        </p>
                      </div>
                    </li>
                    <li class="single-icon-box-with-text">
                      <div class="icon-wrap">
                        <img src="assets/img/icon/icon-and-text/02/03.png" alt="Goal Icon" />
                      </div>
                      <div class="content">
                        <h4 class="title">Our Goal</h4>
                        <ul class="goal-list" style="margin-top: 15px; padding-left: 20px;">
                          <li><b>100% Student Satisfaction:</b> To ensure our students receive the highest level of
                            service, achieving their educational goals without hassle.</li>
                          <li><b>Comprehensive Support:</b> We offer complete end-to-end guidance to ensure a smooth and
                            successful academic journey for every student. Our services include personalized career
                            counseling, admission assistance, visa guidance, and reliable post-admission support. From
                            documentation and application submission to visa processing, interview preparation,
                            education loan facilitation, and even airport pick-up at your destination—we are with you
                            every step of the way.</li>
                          <div class="more-items" style="display: none;">
                            <li><b>Experienced & Professional Consultants:</b> Our team consists of highly experienced
                              study abroad consultants dedicated to helping you navigate the process.</li>
                            <li><b>Global Reach:</b> To expand our partnerships with over 100+ top universities
                              globally, offering students a variety of choices for their higher education.</li>
                            <li><b>Student Empowerment:</b> To continually guide students through every step, from
                              university selection to settling in their new academic environment, ensuring they are
                              well-prepared for a successful future.</li>
                            <li><b>Building a Supportive Community:</b> We connect our alumni with new students to
                              provide guidance, helping with accommodation and settling into their new environment.</li>
                            <li><b>Pre and Post-Admission Support:</b> We offer continuous support even after your
                              admission, assisting you with accommodation, job search, and other essential services.
                            </li>
                            <li><b>Continuous Improvement:</b> To consistently gather feedback and refine our services,
                              ensuring that we provide the best possible experience for every student.</li>
                          </div>
                        </ul>
                        <button class="toggle-more-btn"
                          style="margin-top: 10px; border: none; background: none; color: #007BFF; cursor: pointer;">Show
                          More</button>
                      </div>
                    </li>

                    <script>
                      document.addEventListener("DOMContentLoaded", function () {
                        const toggleBtn = document.querySelector('.toggle-more-btn');
                        const moreItems = document.querySelector('.more-items');

                        toggleBtn.addEventListener('click', function () {
                          if (moreItems.style.display === "none") {
                            moreItems.style.display = "block";
                            toggleBtn.textContent = "Show Less";
                          } else {
                            moreItems.style.display = "none";
                            toggleBtn.textContent = "Show More";
                          }
                        });
                      });
                    </script>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




      <!-- chose us area end here  -->

      <!-- testimonial area start here  -->
      <section class="testimonial-area-wrapper section-top-space">
        <div class="container custom-container-01">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title-wrapper text-center">
                <h5 class="subtitle">SERVICES</h5>
                <h4 class="section-title">Students who fly abroad</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="slick-main global-slick-init" data-infinite="true" data-arrows="true" data-fade="false"
                data-speed="500" data-dots="false" data-slidesToShow="3" data-slidesToScroll="1"
                data-swipeToSlide="true" data-autoplay="true" data-autoplaySpeed="2500" data-responsive='[
                                {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                {"breakpoint": 992,"settings": {"slidesToShow": 2}},
                                {"breakpoint": 600, "settings": {"slidesToShow": 1}}
                                ]'>
                <div class="slick-item">
                  <div class="testimonial-single-items style-01 v-02">
                    <div class="feedback-wrap">
                      <ul class="ul feedback-icon-list">
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="content">
                      <p class="feedback-text">
                        “I able to prove potential employers that i have a
                        solid understanding of computers & hardware- and
                        started to receive real, viable job offers”.
                      </p>
                    </div>

                    <div class="client-and-quote">
                      <div class="client-details">
                        <div class="thumb">
                          <img src="assets/img/sections/testimonial/tesi-01.png" alt="" />
                        </div>
                        <div class="content">
                          <p class="client-name">Savannah Nguyen</p>
                          <p class="designation">Central African Republic</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="slick-item">
                  <div class="testimonial-single-items style-01 v-02">
                    <div class="feedback-wrap">
                      <ul class="ul feedback-icon-list">
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="content">
                      <p class="feedback-text">
                        “I able to prove potential employers that i have a
                        solid understanding of computers & hardware- and
                        started to receive real, viable job offers”.
                      </p>
                    </div>

                    <div class="client-and-quote">
                      <div class="client-details">
                        <div class="thumb">
                          <img src="assets/img/sections/testimonial/testi-02.png" alt="" />
                        </div>
                        <div class="content">
                          <p class="client-name">Kathryn Murphy</p>
                          <p class="designation">Monaco</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="slick-item">
                  <div class="testimonial-single-items style-01 v-02">
                    <div class="feedback-wrap">
                      <ul class="ul feedback-icon-list">
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="content">
                      <p class="feedback-text">
                        “I able to prove potential employers that i have a
                        solid understanding of computers & hardware- and
                        started to receive real, viable job offers”.
                      </p>
                    </div>

                    <div class="client-and-quote">
                      <div class="client-details">
                        <div class="thumb">
                          <img src="assets/img/sections/testimonial/testi-03.png" alt="" />
                        </div>
                        <div class="content">
                          <p class="client-name">Kristin Watson</p>
                          <p class="designation">Guinea</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="slick-item">
                  <div class="testimonial-single-items style-01 v-02">
                    <div class="feedback-wrap">
                      <ul class="ul feedback-icon-list">
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                        <li class="single-feedback-item">
                          <i class="fas fa-star icon"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="content">
                      <p class="feedback-text">
                        “I able to prove potential employers that i have a
                        solid understanding of computers & hardware- and
                        started to receive real, viable job offers”.
                      </p>
                    </div>

                    <div class="client-and-quote">
                      <div class="client-details">
                        <div class="thumb">
                          <img src="assets/img/sections/testimonial/testi-02.png" alt="" />
                        </div>
                        <div class="content">
                          <p class="client-name">Savannah Nguyen</p>
                          <p class="designation">Central African Republic</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- testimonial area end here  -->
      <section class="contact-form-area-wrapper section-top-space section-bottom-space new-about-form">
        <div class="form-card">
          <h2>Hello! How are you today</h2>
          <form class="new-form-fix">
            <div class="form-row">
              <div class="form-groups">
                <label for="name">Your Name</label>
                <input type="text" id="name" placeholder="Enter your name" required />
              </div>
              <div class="form-groups">
                <label for="email">Your Email Address</label>
                <input type="email" id="email" placeholder="Enter your email" required />
              </div>
            </div>

            <div class="form-row">
              <div class="form-groups">
                <label for="mobile">Your Mobile Number</label>
                <input type="tel" id="mobile" placeholder="+91XXXXXXXXXX" pattern="^\+?\d{10,15}$" required />
              </div>
              <div class="form-groups">
                <label for="country">Enter your Country</label>
                <input type="text" id="country" placeholder="Enter your country" required />
              </div>
            </div>

            <div class="form-row">
              <div class="form-groups">
                <label for="state">Enter your state</label>
                <input type="text" id="state" placeholder="Enter your state" required />
              </div>
              <div class="form-groups">
                <label for="city">Enter your City</label>
                <input type="text" id="city" placeholder="Enter your city" required />
              </div>
            </div>
            <button class="new-about-button" type="submit">Submit</button>
          </form>
        </div>
      </section>
    </div>
    <!-- about page end here  -->

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {{>footer}}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  </main>

  <!-- back to top area start -->
  <!-- <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div> -->
  <!-- back to top area end -->

  <!-- Jquery Js -->
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <!-- bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- magnific popup -->
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <!-- wow -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Nice Select -->
  <script src="assets/js/jquery.nice-select.js"></script>
  <!-- countdown -->
  <script src="assets/js/jquery.countdown.min.js"></script>
  <!-- Odomiters -->
  <script src="assets/js/odometer.min.js"></script>
  <!-- Viewport Js -->
  <script src="assets/js/viewport.jquery.js"></script>
  <!-- slick Js -->
  <script src="assets/js/slick.min.js"></script>
  <!-- main js -->
  <script src="assets/js/main.js"></script>
</body>

</html>