<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ERUDITE EDUCARE LLC</title>
    {{>headerLinks}}
  </head>

<!-- Developed by Shashi Bhusahn Kumar -->

<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="loader">
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button class="close-btn border-none"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!-- Search Popup End -->

    <main class="page-wrapper">
        {{>navbar}}

        <!-- about page start here  -->
        <div class="contact-us-wrapper single-page-section-top-space single-page-section-bottom-space">
            <!-- breadcrumb area start here  -->
            <div class="breadcrumb-wrap style-01">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h3 class="title">Apply online</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb area end here  -->

            <!-- contact form start hare  -->
            <section class="apply-form-area-wrapper">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply-form-inner">
                                <div class="row justify-content-between">
                                    <div class="col-lg-12">
                                        <div class="contact-form">
                                            <form class="form" id="liveCounsellingForm">
                                                <div class="part">
                                                    <h5 class="title">Primary Information</h5>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <input type="text" name="fullName" placeholder="Full name" required>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-envelope-open"></i>
                                                                <input type="email" name="email" placeholder="Email address" required>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-phone"></i>
                                                                <input type="tel" name="phone" placeholder="Phone number" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-sharp fa-solid fa-earth-americas"></i>
                                                                <select name="nationality" required>
                                                                    <option disabled selected hidden>Nationality</option>
                                                                    <option value="Canada">Canada</option>
                                                                    <option value="America">America</option>
                                                                    <option value="London">London</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-calendar-days"></i>
                                                                <div class="ui calendar datepicker">
                                                                    <div class="ui input left">
                                                                        <input type="text" name="dateOfBirth" placeholder="Date of birth" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <select name="gender" required>
                                                                    <option disabled selected hidden>Gender</option>
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="part">
                                                    <h5 class="title">Admission preference</h5>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-sharp fa-solid fa-earth-americas"></i>
                                                                <select name="degree" required>
                                                                    <option disabled selected hidden>Select degree</option>
                                                                    <option value="UG">UG</option>
                                                                    <option value="PG">PG</option>
                                                                    <option value="PhD">PhD</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <select name="category" required>
                                                                    <option disabled selected hidden>Categories</option>
                                                                    <option value="Medicine">Medicine & Health</option>
                                                                    <option value="Hospitality">Hospitality & Sports</option>
                                                                    <option value="Engineering">Engineering & Tech</option>
                                                                    <option value="Computer">Computer Science & IT</option>
                                                                    <option value="Agriculture">Agriculture & Forestry</option>
                                                                    <option value="Art">Art, Design & Culture</option>
                                                                    <option value="Business">Business & Management</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-clock"></i>
                                                                <input type="time" name="preferredTime" placeholder="Preferred counselling time" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-submit text-right">
                                                        <button type="submit" id="submitBtn" class="btn-common btn-active">Submit Application</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact form end hare  -->
        </div>
        <!-- about page end here  -->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {{>footer}}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>

    <!-- back to top area start -->
    <!-- <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div> -->
    <!-- back to top area end -->

    <!-- Jquery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- countdown -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- semantic -->
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/active.datepicker.min.js"></script>
    <!-- Odomiters -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Viewport Js -->
    <script src="assets/js/viewport.jquery.js"></script>
    <!-- slick Js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
    <!-- live counselling js -->
    <script src="assets/js/live-counselling.js"></script>


</body>

</html>