<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ERUDITE EDUCARE LLC</title>
    {{>headerLinks}}
  </head>

<!-- Developed by Shashi Bhusahn Kumar -->

<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="loader">
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button class="close-btn border-none"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!-- Search Popup End -->

    <main class="page-wrapper">
        {{>navbar}}

        <!-- about page start here  -->
        <div class="contact-us-wrapper single-page-section-top-space single-page-section-bottom-space">
            <!-- breadcrumb area start here  -->
            <div class="breadcrumb-wrap style-01">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h3 class="title">Apply online</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb area end here  -->

            <!-- contact form start hare  -->
            <section class="apply-form-area-wrapper">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply-form-inner">
                                <div class="row justify-content-between">
                                    <div class="col-lg-12">
                                        <div class="contact-form">
                                            <form class="form">
                                                <div class="part">
                                                    <h5 class="title">Primary Information</h5>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <input type="text" placeholder="Full name" required="">
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-envelope-open"></i>
                                                                <input type="email" placeholder="Email address"
                                                                    required="">
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-phone"></i>
                                                                <input type="tel" placeholder="Phone number"
                                                                    required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-sharp fa-solid fa-earth-americas"></i>
                                                                <select name="" id="">
                                                                    <option disabled selected hidden>Nationality
                                                                    </option>
                                                                    <option value="Canada">Canada</option>
                                                                    <option value="America">America</option>
                                                                    <option value="London">London</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-calendar-days"></i>
                                                                <div class="ui calendar datepicker">
                                                                    <div class="ui input left">
                                                                        <input type="text" placeholder="Date of birth">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <select name="" id="">
                                                                    <option disabled selected hidden>Gender</option>
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="part">
                                                    <h5 class="title">Select prefered study destination <span
                                                            class="sub">(Select Multiple)</span></h5>

                                                    <ul class="ul selection-list">
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/02.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">Canada</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/01.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">America</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/06.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">London</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/03.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">Spain</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/04.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">French</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/07.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">Sweden</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <input type="radio" name="country">
                                                            <div class="thumb">
                                                                <img src="assets/img/flag/05.png" alt="">
                                                            </div>

                                                            <div class="content">
                                                                <h5 class="title">Italy</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div> -->

                                                <div class="part">
                                                    <h5 class="title">Admission preference</h5>

                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-sharp fa-solid fa-earth-americas"></i>
                                                                <select name="" id="">
                                                                    <option disabled selected hidden> Study
                                                                        level
                                                                    </option>
                                                                    <option value="beginner">Beginner</option>
                                                                    <option value="intermediate">Intermediate</option>
                                                                    <option value="advance">Advance</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-user"></i>
                                                                <select name="" id="">
                                                                    <option disabled selected hidden>Subject</option>
                                                                    <option value="english">English</option>
                                                                    <option value="bangla">Bangla</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-md-4 col-lg-4">
                                                                <i class="fa-solid fa-calendar-days"></i>
                                                                <div class="ui calendar datepicker">
                                                                    <div class="ui input left">
                                                                        <input type="text" placeholder="Start date">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-submit text-right">
                                                        <button type="submit" class="btn-common btn-active">submit
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact form end hare  -->
        </div>
        <!-- about page end here  -->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {{>footer}}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>

    <!-- back to top area start -->
    <!-- <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div> -->
    <!-- back to top area end -->

    <!-- Jquery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- countdown -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- semantic -->
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/active.datepicker.min.js"></script>
    <!-- Odomiters -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Viewport Js -->
    <script src="assets/js/viewport.jquery.js"></script>
    <!-- slick Js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>

</html>