<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ERUDITE EDUCARE LLC</title>
    {{>headerLinks}}
  </head>

  <!-- Developed by Shashi Bhushan Kumar -->

  <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <div class="loader"></div>
      </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
      <form action="index.html" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search....." />
        </div>
        <button class="close-btn border-none">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <!-- Search Popup End -->
    <main class="page-wrapper">
      {{>navbar}}
      <div
        class="out-services-wrapper single-page-section-top-space single-page-section-bottom-space"
      >
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Blog Header start here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="breadcrumb-wrap style-01">
          <div class="container custom-container-01">
            <div class="row">
              <div class="col-lg-12">
                <div class="breadcrumb-content">
                  <h3 class="title">Eduplan Blog</h3>
                  <p class="details">
                    A little step maybe the beginning of your great journey.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Blog Header End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Blog Grid Secction start here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="blog-grid-sectin">
          <div class="container custom-container-01">
            <div class="row">
              <div class="col-lg-8">
                <div class="blog-items-wrap">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-04.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />Education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />19th Jan 2022
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Study Bachelor's or Master's in the
                              Netherlands</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-05.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />Education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >10 best courses to study in the UK for
                              Bangladeshi Students</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-06.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />Education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Why your should apply to Swedish Universities</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-07.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />Higher education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >4 Things that must will surprise you About
                              Sweden.</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-08.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >The University of Manchester from Bangladesh</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-09.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />study</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >My journey as an international student in the
                              UK</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-10.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />education</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >How I Learn German in a month- Complete Guide</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="blog-grid-item-02">
                        <div class="thumbnail">
                          <img
                            src="assets/img/sections/blog/blog-11.png"
                            alt=""
                          />
                          <a href="#" class="tag"
                            ><img
                              src="assets/img/icon/tag.png"
                              alt="Tag"
                            />trip</a
                          >
                        </div>
                        <div class="content">
                          <ul class="post-categories">
                            <li>
                              <img
                                src="assets/img/icon/themeim.png"
                                alt=""
                              />Themeim
                            </li>
                            <li>
                              <img
                                src="assets/img/icon/calander-book.png"
                                alt=""
                              />27th June, 22
                            </li>
                          </ul>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Trip to Toronto as an international student</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div
                        class="blog-pagination margin-bottom-30 desktop-center mobile-left"
                      >
                        <div class="pagination">
                          <ul class="pagination-list">
                            <li>
                              <a href="#" class="page-number able left-arrow">
                                PREV
                              </a>
                            </li>
                            <li>
                              <a href="#" class="page-number current">01</a>
                            </li>
                            <li>
                              <a href="#" class="page-number">02</a>
                            </li>
                            <li>
                              <a href="#" class="page-number">03</a>
                            </li>
                            <li>
                              <a href="#" class="page-number able right-arrow">
                                NEXT
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="widget-area">
                  <div class="widget widget_search">
                    <h2 class="widget-headline">Search</h2>
                    <form action="blog.html" class="search-form">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                        />
                      </div>
                      <button class="submit-btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <div class="widget widget_recent_posts">
                    <h4 class="widget-headline">Recent Post</h4>
                    <ul class="theme-recent-post-wrap">
                      <li class="theme-recent-post-item">
                        <div class="thumb">
                          <img
                            src="assets/img/sections/blog/blog-side-01.png"
                            alt="recent post"
                          />
                        </div>
                        <div class="content">
                          <span class="time">May 23,2022</span>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >All You Need to Know About TSS 482 Visa</a
                            >
                          </h4>
                        </div>
                      </li>
                      <li class="theme-recent-post-item">
                        <div class="thumb">
                          <img
                            src="assets/img/sections/blog/blog-side-02.png"
                            alt="recent post"
                          />
                        </div>
                        <div class="content">
                          <span class="time">May 23,2022</span>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Part-time Jobs to Do Alongside Study in
                              abroad.</a
                            >
                          </h4>
                        </div>
                      </li>
                      <li class="theme-recent-post-item">
                        <div class="thumb">
                          <img
                            src="assets/img/sections/blog/blog-side-03.png"
                            alt="recent post"
                          />
                        </div>
                        <div class="content">
                          <span class="time">May 23,2022</span>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Canada Scholarship Opportunities for Bangladeshi
                              Students 2022</a
                            >
                          </h4>
                        </div>
                      </li>
                      <li class="theme-recent-post-item">
                        <div class="thumb">
                          <img
                            src="assets/img/sections/blog/blog-side-04.png"
                            alt="recent post"
                          />
                        </div>
                        <div class="content">
                          <span class="time">May 23,2022</span>
                          <h4 class="title">
                            <a href="blog-single.html"
                              >Your Complete Guide to Applying for Colleges in
                              Canada</a
                            >
                          </h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="widget widget_category">
                    <h3 class="widget-headline">category</h3>
                    <ul>
                      <li>
                        <a href="#">Online Course<span>(04)</span></a>
                      </li>
                      <li>
                        <a href="#">Online Education<span>(13)</span></a>
                      </li>
                      <li>
                        <a href="#">Study in Abroad<span>(25)</span></a>
                      </li>
                      <li>
                        <a href="#">Student Consultanc<span>(9)</span></a>
                      </li>
                      <li>
                        <a href="#">Online Education<span>(7)</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Blog Grid Secction End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      </div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      {{>footer}}
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>
    <!-- back to top area start -->
    <div class="back-to-top">
      <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- Jquery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- countdown -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Odomiters -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Viewport Js -->
    <script src="assets/js/viewport.jquery.js"></script>
    <!-- slick Js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
