<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ERUDITE EDUCARE LLC</title>
    {{>headerLinks}}
</head>

<!-- Developed by Shashi Bhushan Kumar -->

<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="loader">
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button class="close-btn border-none"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!-- Search Popup End -->

    <main class="page-wrapper">
        {{>navbar}}

        <style>
            .row {
                /* --bs-gutter-x: 1.5rem; */
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(var(--bs-gutter-y) * -1);
                margin-right: calc(var(--bs-gutter-x) * -0.5);
                margin-left: calc(var(--bs-gutter-x) * -0.5);
            }
        </style>

        <!-- about page start here  -->
        <div class="contact-us-wrapper single-page-section-top-space single-page-section-bottom-space">
            <!-- breadcrumb area start here  -->
            <div class="breadcrumb-wrap style-01">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h3 class="title">Contact us</h3>
                                <p class="details">
                                    We have professional <b>Collaborations</b> with top <b>universities and colleges worldwide</b>, ensuring you get the best guidance and opportunities for your academic journey.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb area end here  -->

            <!-- contact form start hare  -->
            <section class="contact-form-area-wrapper section-bottom-space">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply-form-inner">
                                <div class="row justify-content-between">
                                    <div class="col-lg-5">
                                        <div class="contact-address">
                                            <h3 class="title">Get in touch with <b>Erudite Educare</b></h3>

                                            <ul class="ul contact-address-list">
                                                <li class="single-address-item">
                                                    <span class="icon-wrap color-01">
                                                        <i class="fa-sharp fa-solid fa-location-dot icon"></i>
                                                    </span>
                                                    <br class="text">
                                                    <ul><li>&#8226; 7 Tsotne Dadiani St, Tbilisi Georgia 1010</li>
                                                    <li>&#8226; Hari Om shopping Apt, Plot No- 15, Sec- 2, Near Rajiv  Gandhi Bridge, Nerul West, Navi Mumbai MAHARASHTRA 400706</li>
                                                    <li>&#8226; Bhagwanpur golambar muzaffarpur Bihar India  842001</li>
                                                    <li>&#8226; 26 Tilja Road, kolkata West Bengal India 700039</li></ul>
                                                    </span>
                                                </li>
                                                <li class="single-address-item">
                                                    <span class="icon-wrap color-02">
                                                        <i class="fa-solid fa-phone icon"></i>
                                                    </span>
                                                    <span class="text">(+91)8757200684<br>
                                                        (+995)574234360</span>
                                                </li>
                                                <li class="single-address-item">
                                                    <span class="icon-wrap color-03">
                                                        <i class="fa-solid fa-envelope-open icon"></i>
                                                    </span>
                                                    <span class="text">eruditeeducare@gmail.com<br>
                                                        eruditeeducare.info@gmail.com</span>
                                                </li>
                                            </ul>

                                            <ul class="ul social-media-list style-01 color-02">
                                                <li class="single-social-item">
                                                    <a href="#" tabindex="-1">
                                                        <i class="fa-brands fa-instagram icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#" tabindex="-1">
                                                        <i class="fa-brands fa-facebook-f icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#" tabindex="-1">
                                                        <i class="fa-brands fa-youtube icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#" tabindex="-1">
                                                        <i class="fa-brands fa-linkedin-in icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="contact-form">
                                            <form class="form">
                                                <div class="part">
                                                    <h5 class="title">Primary Information</h5>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <i class="fa-solid fa-user"></i>
                                                                <input type="text" placeholder="Full name" required="">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <i class="fa-solid fa-envelope-open"></i>
                                                                <input type="email" placeholder="Email address"
                                                                    required="">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <i class="fa-solid fa-phone"></i>
                                                                <input type="number" placeholder="Phone number"
                                                                    required="">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <i class="fa-solid fa-user"></i>
                                                                <input type="text" placeholder="Full Address" required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-element">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <textarea class="textarea"
                                                                    placeholder="Write description..."
                                                                    rows="10"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-submit text-right">
                                                    <button type="submit" class="btn-common btn-active">submit Message
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact form end hare  -->

            <!-- map area start hare  -->
            <div class="map-wrapper section-top-space">
                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160755.81295540382!2d88.37490806172526!3d22.583514641806303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275b5f38c67df%3A0x842d73d378313791!2sNicco%20park!5e0!3m2!1sen!2sin!4v1746200303154!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- map area end hare  -->
        </div>
        <!-- about page end here  -->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {{>footer}}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>

    <!-- back to top area start -->
    <!-- <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div> -->
    <!-- back to top area end -->

    <!-- Jquery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- countdown -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- semantic -->
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/active.datepicker.min.js"></script>
    <!-- Odomiters -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Viewport Js -->
    <script src="assets/js/viewport.jquery.js"></script>
    <!-- slick Js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>

</html>